.individual-task-item {
  height: 50px;
  width: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131213;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.task-name {
  font-family: Roboto;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.tag-name {
  height: 30px;
  width: auto;
  border-radius: 15px;
  border: 0px;
  background-color: #f3aa4e;
  font-family: Roboto;
  font-weight: bold;
  color: #1a171d;
  font-size: 14px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  margin: 0px;
}
